@model Project2.Models.UserModel

<h1>Step2: Register</h1>
<div>
    @if (@ViewData["Message"] != null)
    {
        <div class="alert alert-danger space text-center">
            @ViewData["Message"]
        </div>
    }


    
    <center>
        <h2>Register form:</h2>
    </center>
    <div>
        
        <form asp-action="Middle" asp-controller="Home" method="POST" class="form-wrapper">
            <div class="input-group">
                <label>Login:</label>
                <input id="Login" asp-for="Login" type="text" class="input" size="35">
            </div>
            <div class="input-group">
                <label>Password:</label>
                <input id="Password" asp-for="Password" type="Password" class="input" size="35">
            </div>
            <div class="input-group">
                <label>Your Regex Description:</label>
                <input id="Description" asp-for="Description" type="text" class="input" size="35" value=@Model.Description>
            </div>
            <div class="input-group">
                
                <input id="Reg" asp-for="Reg" type="text" class="input" size="35" value=@Model.Reg hidden>
                <input id="Reg" asp-for="MinDigits" type="text" class="input" size="35" value=@Model.MinDigits hidden>
                <input id="Reg" asp-for="MaxLength" type="text" class="input" size="35" value=@Model.MaxLength hidden>
                <input id="Reg" asp-for="MinLength" type="text" class="input" size="35" value=@Model.MinLength hidden>
                <input id="Reg" asp-for="MinUppercase" type="text" class="input" size="35" value=@Model.MinUppercase hidden>
                <input id="Reg" asp-for="MinLowercase" type="text" class="input" size="35" value=@Model.MinLowercase hidden>
                <input id="Reg" asp-for="MinSpecialSigns" type="text" class="input" size="35" value=@Model.MinSpecialSigns hidden>


            </div>
            <div class="input-group">

                <a asp-controller="Home" asp-action="CreateRegex">
                    <button type="button" class="btn btn-danger">Back</button>
                </a>
                <button class="btn btn-success">Create</button>
            </div>

        </form>

    </div>



